<%- include('./templates/head') %>
<body>

<%- include('./templates/header', { lang: "CAT"}) %>
    <main>
        <div class="container">
            <img src="https://imgs.search.brave.com/Ey4ywQvegjx9iF_GmHCjqiCeJqJaub-GOsnPRrcPNl0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvZXJyb3ItNDA0/LWNvbmNlcHQtZGVz/aWduLWxhbmRpbmct/cGFnZV8xMDgwNjEt/NjYuanBnP3NlbXQ9/YWlzX2h5YnJpZCZ3/PTc0MCZxPTgw" alt="Error 404">
            <div>
                <p>La página que busques no existeix al nostre servidor.</p>
                <p>Revisa l'adreça o accedeix pel menú superior.</p>
                <h2>Error 404</h2>
                <p>La página que solicitas no existe en nuestro servidor.</p>
                <p>Revisa la dirección o accede por el menú superior.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>